<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Security Demo</title>

    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}"/>
</head>
<body>

<div class="container">

    <section th:replace="~{../static/fragments/header::header}"></section>
    <div layout:fragment="content">
    </div>

</div>
</body>
</html>