<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/main}">
<head>
    <title>Security Demo - Login</title>

<body>

<section th:fragment="header">
    <nav>
        <p>WebGame</p>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Markets&#9660;</a>
                <ul>
                    <li></li>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Employment</a></li>
                </ul>
            </li>
            <li><a href="#">Work</a></li>
            <li><a href="#">War</a></li>

        </ul>


    </nav>

</section>

</body>
</html>