<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/main}">
<head>
    <title>Security Demo - Login</title>

<body>

<section th:fragment="sidebar">
    <nav class="sidebar">
        <ul>
            <li><a href="#"><img th:src="@{../images/inbox-icon.png}"></img>Inbox</a></li>
            <li><a href="#"><img th:src="@{../images/now-icon.png}">Now</a>
            <li><a href="#"><img th:src="@{../images/later-icon.png}">Later</a></li>
            <li><a href="#"><img th:src="@{../images/project-icon.png}">Projects</a></li>
        </ul>
    </nav>

</section>

</body>
</html>