body {background-color:#bccce0;}
.header {
    height:60px;
    background-color: black;
}
.header  p{
    font-family: arial;
    color: #bccce0;
    font-size:24px;
    line-height:55px;
    float:left;
    padding: 0px 20px;
}
